* {
    padding: 0;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: "gilroy-m";
    src: url(assets/Gilroy-Medium.ttf);
}

.topnav{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.icon{
    display: none;
}

.logo img {
    width: 15%;
}

#myLinks {
    display: flex;
}

#myLinks a {
    font-family: "gilroy-m";
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: poppins;
    text-decoration: none;
    color: white;
}

#myLinks a:hover{
    background-color: rgb(10, 70, 235);
    border-radius: 50px;
}

@media screen and (max-width: 1150px) {
    .logo img {
        width: 50%;
    }

    .topnav {
        overflow: hidden;
        height: 200px;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
        position: absolute;
        right: 80px;
        top: 10px;
        border: solid rgb(64, 101, 183) 1px;
        background-color: rgb(243, 243, 243);
    }

    .topnav a {
        color: rgb(64, 101, 183);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 15px;
        top: 0px;
    }

    .icon img{
        width: 50px;
    }

    .topnav a:hover {
        background-color: #000000;
        color: black;
    }
}
