* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "gilroy-m";
    src: url(assets/Gilroy-Medium.ttf);
}

.topnav{
    display: flex;
}

.logo img {
    width: 15%;
}

#myLinks {
    display: flex;
}

a {
    font-family: "gilroy-m";
    padding: 10px;
    font-family: poppins;
    text-decoration: none;
}

@media screen and (max-width: 1150px) {
    .logo img {
        width: 50%;
    }

    .topnav {
        overflow: hidden;
        height: 200px;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
        position: absolute;
        right: 65px;
        top: 10px;
        background-color: black;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: rgb(255, 255, 255);
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
    }

    .icon img{
        width: 30px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
}